body {
    background-color: maroon;
}
h1 {
    font-size: 70px;
    font-family: 'Arial';
    color: white;
    padding-top: 20px;  
    padding-left: 540px;
}
div {
    background-color: white;
    color: maroon;
    font-family: 'Arial';
    font-size: 20px;
    position: center;
    width: 700px;
    height: 700px;
    padding: 50px;
    margin: auto;
}
.btn {
    background-color: maroon; 
    border: 2px solid white;
    color: white;
    font-family: 'Arial';
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.btn:hover {
    background-color: white;
    color: maroon;
}
.goback{
    padding: 10px 20px;
    margin-left: 20px;
}