body {
    background-color: #868686;
}
h1 {
    font-size: 70px;
    font-family: 'monotype corsiva';
    color: white;
    padding-top: 20px;  
    padding-left: 570px;
}
div {
    background-color: white;
    position: center;
    width: 500px;
    height: 700px;
    padding: 50px;
    margin: auto;
}